@charset "utf-8";
table, th, td{
    border: solid 5px green
}
img{
    width: 80%;
    width: 500px;
    height: 200px;
}
th, td{
    padding: 10px
}
th, tr,td{
    font-size: 20px;
}
th{
    background-color: chartreuse;
}
caption{
    font-size: 20px;
}